*{
    padding: 0;
    margin: 0;
    color: #fff;
}
.jumbotron{
    background-image: url(elearnbg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    margin-bottom: 0%  !important;
}
.gutter{
    background:orchid;
    margin-top: 0px;
    background: linear-gradient(110deg, #cc0627 60%, #790421 60%);
    height: 100px;
}


.card{
    
    
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.footer{
    background:white;
    color: black;
    position: relative;
    height: 190px;
    
}
.footer .footer-content{
    border: solid 2px black;
    height: 160px;
    display: flex;
    color: black;
}
.footer .footer-content .footer-section{
    flex:1;
    
    padding:0px 25px ;
    color: black;
    text-align: center;

}
.footer .footer-bottom{
    color:white;
    background:black;
    position: abs;
    height: 30px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    left:0px;
    text-align: center;
    padding-top: 10px;
}
